<style>
    #factory-update {
        padding: 20px 25px 25px 0;
    }

    #factory-update .layui-treeSelect .ztree li a, .ztree li span {
        margin: 0 0 2px 3px !important;
    }
</style>
<div class="layui-fluid" id="factory-update">
    <form class="layui-form" action="" lay-filter="factory-update-form">
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">工厂名称：</label>
            <div class="layui-input-block">
                <input type="text" name="factoryName"  maxlength="50" autocomplete="off" class="layui-input" lay-verify="range|required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">工厂代码：</label>
            <div class="layui-input-block">
                <input type="text" name="factoryCode" maxlength="50" autocomplete="off" class="layui-input" lay-verify="range|required">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">修改人：</label>
            <div class="layui-input-block">
                <input type="text" name="editName"  maxlength="50" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label febs-form-item-require">状态：</label>
            <div class="layui-input-block">
                <input type="radio" name="status" value="1" title="有效" checked="">
                <input type="radio" name="status" value="2" title="禁用">
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <label class="layui-form-label febs-form-item-require">创建人：</label>
            <div class="layui-input-block">
                <input type="text" name="buildName"  maxlength="50" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <label class="layui-form-label febs-form-item-require">ID：</label>
            <div class="layui-input-block">
                <input type="text" name="id"  maxlength="50" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item febs-hide">
            <button class="layui-btn" lay-submit="" lay-filter="factory-update-form-submit" id="submit"></button>
        </div>
    </form>
</div>

<script data-th-inline="javascript">
    layui.use(['febs', 'form', 'formSelects', 'validate', 'treeSelect'], function () {
        var $ = layui.$,
            febs = layui.febs,
            layer = layui.layer,
            formSelects = layui.formSelects,
            treeSelect = layui.treeSelect,
            form = layui.form,
            factory = [[${factory}]],
            $view = $('#factory-update');


        form.render();

        initUserValue();

        formSelects.render();

        function initUserValue() {
            form.val("factory-update-form", {
                "factoryName": factory.factoryName,
                "factoryCode": factory.factoryCode,
                "editName": factory.editName,
                "status": factory.status,
                "buildName": factory.buildName,
                "id": factory.id
            });
        }

        form.on('submit(factory-update-form-submit)', function (data) {
            if (febs.nativeEqual(data.field, factory)) {
                febs.alert.warn('数据未作任何修改！');
                return false;
            }
            febs.post(ctx + 'scan/factory/updateFactory', data.field, function () {
                layer.closeAll();
                febs.alert.success(' 数据修改成功');
                $('#febs-factory').find('#factory-query').click();
            });
            return false;
        });
    });
</script>