<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neefull.fsp.web.sms.mapper.DetailMapper">
    <update id="updateScanQuntity">
        update  sms_detail set scan_quantity = #{quantity} where id = #{id}
    </update>
    <update id="updateupdateErrorMsg">
        update  sms_detail set error_message = #{msg} ,status = #{status} where id = #{id}
    </update>
    <update id="updateStatusByDelivery">
        update sms_detail set scan_quantity = #{status} where delivery = #{delivery}
    </update>
    <select id="getDetailList" resultType="com.neefull.fsp.web.sms.entity.Detail">
        select * from sms_detail t where 1=1
        <if test="delivery != null and delivery != ''">
            AND t.delivery like concat('%',#{delivery},'%')
        </if>
        <if test="deliveryItem != null and deliveryItem != ''">
            AND t.delivery_item like concat('%',#{deliveryItem},'%')
        </if>
        <if test="rocheDeliveryItem != null and rocheDeliveryItem != ''">
            AND t.roche_delivery_item like concat('%',#{rocheDeliveryItem},'%')
        </if>
        <if test="material != null and material != ''">
            AND t.material like concat('%',#{material},'%')
        </if>
        <if test="rocheBatch != null and rocheBatch != ''">
            AND t.roche_batch like concat('%',#{rocheBatch},'%')
        </if>
        <if test="status != null and status != ''">
            AND t.status = #{status}
        </if>
        order by create_time desc
    </select>
    <select id="selectScanDetail" resultType="com.neefull.fsp.web.sms.entity.Detail">
        select d.mat_code material, d.batch rocheBatch, sum(d.quantity) quantity from sms_scan d where d.delivery = #{dn} and d.del =1  group by material,batch
    </select>
</mapper>