<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neefull.fsp.web.sms.mapper.ScanLogMapper">
    <update id="updateStatus">
        update sms_scan_log t set t.status = #{status} where id = #{id}
    </update>
    <select id="getPageScanLog" resultType="com.neefull.fsp.web.sms.entity.ScanLog">
        select * from sms_scan_log t  where  1=1
        <choose>
            <when test="scanLog.plant != null and scanLog.plant != ''">
                AND t.plant like concat('%',#{scanLog.plant},'%')
            </when>
            <otherwise>
                AND t.plant  in
                <foreach collection="scanLog.plants" index="index" item="item" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </otherwise>
        </choose>
        <if test="scanLog.delivery != null and scanLog.delivery != ''">
            AND t.delivery like concat('%',#{scanLog.delivery},'%')
        </if>
        order by create_time desc
    </select>

</mapper>