<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neefull.fsp.app.mapper.ProjectTeamMapper">
    <sql id="team_base_column">
      t.id,
      t.user_id,
      t.project_id,
      t.team_name,
      t.create_time,
      t.modify_time,
      t.team_state,
      t.remark
    </sql>

    <select id="freelencerTeams" resultType="ProjectTeam">
        SELECT
        <include refid="team_base_column"/>
        FROM
        t_project_team t
        WHERE t.team_state > 0
        AND t.user_id=#{userId}
    </select>

    <select id="corpTeams" resultType="ProjectTeam">
        SELECT
        <include refid="team_base_column"/>
        FROM
        t_project_team t
        LEFT JOIN t_project b
        ON b.id = t.project_id
        WHERE t.team_state > 0
        AND b.user_id=#{userId}
        GROUP BY t.project_id
    </select>

</mapper>
