<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neefull.fsp.app.mapper.ProjectSettleMapper">
    <sql id="settle_base_column">
          t.id,
          t.project_id,
          t.user_id,
          t.settle_amount,
          t.state,
          t.create_time,
          t.settled_time,
          t.settle_user,
          t.real_amount,
          t.is_model,
          t.reamark
    </sql>
    <select id="querySettleUsers" resultType="ProjectSettlement">
        select b.USERNAME,b.MOBILE,b.SSEX,
        <include refid="settle_base_column"/>
        from t_project_settlement t left join t_user b
        on t.user_id=b.USER_ID
        where t.state=0
        and t.project_id=#{projectSettlementWapper.projectId}
    </select>

    <insert id="saveSettleSummary">
        INSERT INTO t_settle_summary (
         project_id,
         amount,
         is_model
        )
        VALUES
       (
        #{projectSettlementWapper.projectId},
        #{projectSettlementWapper.totalAmount},
        #{projectSettlementWapper.isModel}
        )

    </insert>

    <select id="querySettleModel" resultType="ProjectSettlement">
        select
        <include refid="settle_base_column"/>
        from t_project_settlement t
        where t.is_model=1
        and t.project_id=#{modelId}
        and t.user_id=#{userId}
    </select>
    <!--查询结算记录-->
    <sql id="settledRecord">
        SELECT
        a.project_id projectId,
        b.title,
        b.project_no projectNo,
        a.user_id userId,
        c.username userName,
        c.mobile,
        a.real_amount settledAount,
        a.create_time settleTime,
        a.settled_time settledTime
        FROM
        t_project_settlement a
        LEFT JOIN t_project b ON a.project_id=b.id
        LEFT JOIN t_user c ON a.user_id=c.USER_ID
        WHERE a.state = 2
        /*结算月份*/
        <if test="settledRecord.settledTime != null and settledRecord.settledTime !='' ">
            AND DATE_FORMAT (a.settled_time, '%Y%m') = #{settledRecord.settledTime}
        </if>
    </sql>

    <select id="queryCorpSettlement" resultType="SettledRecord">
        <include refid="settledRecord"></include>
        <if test="settledRecord.userId != null and settledRecord.userId !='' ">
            AND a.project_id IN
            (select id from t_project where user_id=#{settledRecord.userId})
        </if>

    </select>

    <select id="queryUserSettlement" resultType="SettledRecord">
        <include refid="settledRecord"></include>
        <if test="settledRecord.userId != null and settledRecord.userId !='' ">
            AND a.user_id = #{settledRecord.userId}
        </if>
    </select>

</mapper>
