<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neefull.fsp.app.mapper.ProjectMapper">
    <sql id="queryProject">
        id
        ,u.project_no pno
        ,u.user_id userId
        ,service_type serviceType
        ,service_content serviceContent
        ,settle_time settleTime
        ,salary_type salaryType
        ,amount
        ,title
        ,des
        ,content
        ,requirement
        ,place
        ,req_sex reqSex
        ,req_identity reqIdentity
        ,req_edu reqEdu
        ,req_age reqAge
        ,req_num reqNum
        ,sign_num signNum
        ,valid_date validDate
        ,u.create_time createTime
        ,create_user createUser
        ,u.modify_time modifyTime
        ,modify_user modifyUser
        ,u.current_state currentState
        ,remark
        ,(SELECT current_state FROM t_project_enrollment b WHERE b.project_id=u.id AND b.user_id=#{project.signUser})
        signState
        ,c.username createUserName
        ,u.open_state openState
        FROM t_project u left join t_user c on u.user_id=c.user_id
        WHERE 1=1
        <if test="project.serviceType != null and project.serviceType !='' ">
            AND u.service_type = #{project.serviceType}
        </if>
        <if test="project.settleTime != null and project.settleTime !='' ">
            AND u.settle_time = #{project.settleTime}
        </if>
        <if test="project.reqSex != null and project.reqSex !='' ">
            AND u.req_sex = #{project.reqSex}
        </if>
        <if test="project.reqEdu != null and project.reqEdu !='' ">
            AND u.req_edu = #{project.reqEdu}
        </if>
        <if test="project.place != null and project.place !='' ">
            AND u.place = #{project.place}
        </if>
        <if test="project.userId != null and project.userId !='' ">
            AND u.user_id = #{project.userId}
        </if>
        <if test="project.currentState != null and project.currentState !='' ">
            AND u.current_state = #{project.currentState}
        </if>
        <if test="project.id != null and project.id !='' ">
            AND u.id = #{project.id}
        </if>
    </sql>
    <select id="personalHome" parameterType="project" resultType="project">
        SELECT
        <include refid="queryProject"/>
        /*自由职业者首页，看不到已经关闭的项目,已完成的项目，不在首页展示*/
        and u.OPEN_STATE !=-1 and u.current_state &lt;=1
    </select>
    <select id="corpHome" parameterType="project" resultType="project">
        select
        <include refid="queryProject"/>
    </select>
    <select id="queryProjectDetail" parameterType="project" resultType="project">
        select
        <include refid="queryProject"/>
    </select>

    <insert id="createProjectModel" useGeneratedKeys="true" keyProperty="modelId">
        INSERT INTO t_project_model (
          user_id,
          service_type,
          service_content,
          salary_type,
          amount,
          title,
          des,
          content,
          requirement,
          place,
          req_sex,
          req_identity,
          req_edu,
          req_age,
          req_num,
          valid_date,
          open_state,
          current_state
        )
        VALUES
          (
            #{projectModel.userId},
            #{projectModel.serviceType},
            #{projectModel.serviceContent},
            #{projectModel.salaryType},
            #{projectModel.amount},
            #{projectModel.title},
            #{projectModel.des},
            #{projectModel.content},
            #{projectModel.requirement},
            #{projectModel.place},
            #{projectModel.reqSex},
            #{projectModel.reqIdentity},
            #{projectModel.reqEdu},
            #{projectModel.reqAge},
            #{projectModel.reqNum},
            #{projectModel.validDate},
            #{projectModel.openState},
            #{projectModel.currentState}
          )
    </insert>

</mapper>
