<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neefull.fsp.app.mapper.UserMapper">
    <sql id="findUserDetailSql">
        SELECT
        u.user_id userId,
        u.username,
        u.email,
        u.mobile,
        u.status,
        u.create_time createTime,
        u.ssex sex,
        u.dept_id deptId,
        u.last_login_time lastLoginTime,
        u.modify_time modifyTime,
        u.description,
        u.avatar,
        d.dept_name deptName,
        GROUP_CONCAT(r.role_id) roleId,
        GROUP_CONCAT(r.ROLE_NAME) roleName
        FROM
        t_user u
        LEFT JOIN t_dept d ON (u.dept_id = d.dept_id)
        LEFT JOIN t_user_role ur ON (u.user_id = ur.user_id)
        LEFT JOIN t_role r ON r.role_id = ur.role_id
        WHERE 1 = 1
        <if test="user.username != null and user.username != ''">
            AND u.username = #{user.username}
        </if>
        <if test="user.deptId != null and user.deptId != ''">
            AND d.dept_id = #{user.deptId}
        </if>
        <if test="user.sex != null and user.sex != ''">
            AND u.ssex = #{user.sex}
        </if>
        <if test="user.status != null and user.status != ''">
            AND u.status = #{user.status}
        </if>
        <if test="user.mobile != null and user.mobile != ''">
            AND u.mobile = #{user.mobile}
        </if>
        <if test="user.createTimeFrom != null and user.createTimeFrom !=''">
            And u.create_time &gt; #{user.createTimeFrom}
        </if>
        <if test="user.createTimeTo!= null and user.createTimeTo !=''">
            And u.create_time &lt; #{user.createTimeTo}
        </if>
        group by u.username
    </sql>
    <select id="findUserDetailPage" parameterType="user" resultType="user">
        <include refid="findUserDetailSql"/>
    </select>

    <select id="findUserDetail" parameterType="user" resultType="user">
        <include refid="findUserDetailSql"/>
    </select>

    <select id="findByName" parameterType="string" resultType="user">
        SELECT
        u.user_id userId,
        u.username,
        u.email,
        u.mobile,
        u.password,
        u.status,
        u.create_time createTime,
        u.ssex sex,
        u.dept_id deptId,
        u.last_login_time lastLoginTime,
        u.modify_time modifyTime,
        u.description,
        u.avatar,
        u.theme,
        u.is_tab isTab,
        d.dept_name deptName,
        GROUP_CONCAT(r.role_id) roleId,
        GROUP_CONCAT(r.ROLE_NAME) roleName
        FROM
        t_user u
        LEFT JOIN t_dept d ON (u.dept_id = d.dept_id)
        LEFT JOIN t_user_role ur ON (u.user_id = ur.user_id)
        LEFT JOIN t_role r ON r.role_id = ur.role_id
        WHERE u.username = #{username}
        group by u.username
    </select>

    <sql id="userResumeColums">
          r.id,
          r.user_id,
          r.real_name,
          r.identity,
          r.birthday,
          r.link_no,
          r.education,
          r.city_life,
          r.city_work,
          r.job_type,
          r.personal_desc,
          r.mark,
          r.edu_desc,
          r.worked_desc,
          r.work_state
    </sql>

    <insert id="fillUserResume">
        INSERT INTO flp.t_user_resume (
          user_id,
          real_name,
          identity,
          birthday,
          link_no,
          education,
          city_life,
          city_work,
          job_type,
          personal_desc,
          mark,
          edu_desc,
          worked_desc,
          work_state
        )
    VALUES
      (
         #{userResume.userId},
         #{userResume.realName},
         #{userResume.identity},
         #{userResume.birthday},
         #{userResume.linkNo},
         #{userResume.education},
         #{userResume.cityLife},
         #{userResume.cityWork},
         #{userResume.jobType},
         #{userResume.personalDesc},
         #{userResume.mark},
         #{userResume.eduDesc},
         #{userResume.workedDesc},
         #{userResume.workState}
      )
    </insert>
    <select id="queryUserResume" resultType="UserResume">
        select
        <include refid="userResumeColums"/>
        from t_user_resume r where r.user_id=#{userResume.userId}
    </select>

    <select id="queryUserDetail" resultType="UserDetail">
        select
        b.real_name realName,
        a.mobile,
        b.id_no,
        <include refid="userResumeColums"/>
        from t_user a
        left join t_auth_freelancer b on(a.user_id=b.user_id)
        left join t_user_resume r on(a.user_id=r.user_id)
        where a.user_id=#{userId}
    </select>
</mapper>
