<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neefull.fsp.web.system.mapper.OpinionMapper">
    <delete id="deleteOpinions" parameterType="string">
        DELETE
        FROM
            sms_opinion
        WHERE
                id IN ( SELECT m.id FROM ( SELECT id FROM sms_opinion WHERE FIND_IN_SET( id, findOpinionChildren (
                    #{opinionId} ) ) > 0 ) m )
    </delete>
    <select id="getOpinions" resultType="com.neefull.fsp.web.system.entity.Opinion">
        select * from sms_opinion where parent_id = (select id from qff_opinion where name = #{name})
    </select>


</mapper>