<style>
    .item{
        height: 100px;
        width: 350px;
        box-shadow: 0px 1px 6px 0px #827a7a;
        float:left;
    }
    .item-count{
        text-align: center;
        margin-top: 16px;
    }
</style>
<div class="layui-fluid layui-anim febs-anim" id="fbs-serve" lay-title="数量统计">
    <div class="layui-row febs-container">
        <div class="layui-card-body febs-table-full">
            <div class="item" >
                <div>
                    <div class="item-count" id = "num"></div>
                </div>
            </div>
        </div>
    </div>
</div>


<script data-th-inline="none" type="text/javascript">
    layui.use(['jquery'], function () {
        var $ = layui.jquery;

        $.get(ctx +"scan/smsHeader/queryScanNumber",{plants:currentUser.factoryName}, function (data) {
            var num = data.data;
            $("#num").append('<span style="color: red"><h2>当前一共有'+num.count+'条数据,有'+num.zeroStatus+'条未扫描' +
                ',有'+num.oneStatus+'条已扫描,有'+num.twoStatus+'条审核未通过,有'+num.threeStatus+'条审核通过' +
                ',有'+num.fourStatus+'条已同步</h2></span>')
        });

    });
</script>

