<style>
    .item{
        height: 100px;
        width: 350px;
        box-shadow: 0px 1px 6px 0px #827a7a;
        float:left;
    }
    .item-count{
        text-align: center;
        margin-top: 16px;
    }
</style>
<div class="layui-fluid layui-anim febs-anim" id="fbs-serve" lay-title="数量统计">
    <div class="layui-row febs-container">
        <div class="layui-col-md6 layui-col-sm6 layui-col-xs12">
            <div class="layui-card">
                <div class="layui-card-body">
                    <div id="chart" style="height: 350px"></div>
                </div>
            </div>
        </div>

    </div>
</div>


<script data-th-inline="none" type="text/javascript">
    layui.use(['jquery','highcharts','apexcharts'], function () {
        var $ = layui.jquery;

        $.get(ctx +"scan/smsHeader/queryScanNumber",{plants:currentUser.factoryName}, function (data) {

            var num = data.data;
            var data_arr = new Array();
            data_arr[0]=num.zeroStatus;
            data_arr[1]=num.oneStatus;
            data_arr[2]=num.twoStatus;
            data_arr[3]=num.threeStatus;
            data_arr[4]=num.fourStatus;

            var options = {
                title: {
                    text: '数据统计 总数'+num.count+'条',
                    align: 'center'
                },
                chart: {
                    height: 350,
                    type: 'bar',
                    toolbar: {
                        show: false
                    }
                },
                plotOptions: {
                    bar: {
                        horizontal: false,
                        columnWidth: '32rem'
                    }
                },
                dataLabels: {
                    enabled: true
                },
                stroke: {
                    show: true,
                    width: 1,
                    colors: ['transparent']
                },
                series: [{
                    name:'数量',
                    data:data_arr
                }],
                xaxis: {
                    categories: ['未扫描', '已扫描', '审核未通过', '审核通过', '已同步'],
                    axisTicks: {
                        show: true
                    },
                    axisBorder: {
                        show: true,
                        color: '#f1f1f1'
                    }
                },
                fill: {
                    opacity: 1
                },
                grid: {
                    row: {
                        colors: ['transparent', 'transparent'],
                        opacity: 0.2
                    },
                    borderColor: '#f1f1f1'
                }
            };

            new ApexCharts(
                document.querySelector("#chart"),
                options
            ).render();

        });




    });
</script>

