<div class="layui-fluid layui-anim febs-anim" id="febs-sendmessage" lay-title="发送消息">
    <div class="layui-row febs-container">
        <div class="layui-card">
            <div class="layui-card-body" style="padding: 15px;">
                <div class="alert" id="alert_success" style="display: none">
                    <span class="febs-alert-base febs-alert-success"
                          style="text-align: center;font-weight: bold;font-size: 15px;margin-bottom: 10px;">发送成功!</span>
                </div>
                <div class="alert" id="alert_fail" style="display: none">
                    <span class="febs-alert-base febs-alert-error"
                          style="text-align: center;font-weight: bold;font-size: 15px;margin-bottom: 10px;">发送失败!</span>
                </div>

                <form id="sendMessageForm">
                    <div class="layui-form-item">
                        <label class="layui-form-label febs-form-item-require">消息标题：</label>
                        <div class="layui-input-block">
                            <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入标题"
                                   class="layui-input">
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label febs-form-item-require">消息类型：</label>
                        <div class="layui-input-block">
                            <select name="msgType" lay-filter="leixing">
                                <option value="0" selected>公告</option>
                                <option value="1">提醒</option>
                                <option value="2">结算</option>
                                <option value="3">实名</option>
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <label class="layui-form-label febs-form-item-require">用户：</label>
                        <div class="layui-input-block">
                            <select name="userIds"
                                    lay-verify="required"
                                    xm-select-direction="down"
                                    xm-select="user-add-info"
                                    xm-select-skin="default">
                            </select>
                        </div>
                    </div>

                    <div class="layui-form-item layui-form-text">
                        <label class="layui-form-label febs-form-item-require">消息内容：</label>
                        <div class="layui-input-block">
                            <textarea name="content" placeholder="请输入内容" class="layui-textarea"></textarea>
                        </div>
                    </div>

                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit="" lay-filter="febs-message-send-submit">立即发送</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    layui.use(['febs', 'form', 'formSelects', 'jquery'], function () {
        var $ = layui.jquery,
            febs = layui.febs,
            element = layui.element,
            formSelects = layui.formSelects,
            layer = layui.layer,
            form = layui.form;

        form.render(null, 'febs-send-message');
        console.log(ctx)
        formSelects.config('user-add-info', {
            searchUrl: 'user/userLst',
            response: {
                statusCode: 200
            },
            beforeSuccess: function (id, url, searchVal, result) {
                var data = result.data;
                var tranData = [];
                tranData.push({
                    name: '全部',
                    value: 'allUsers'
                })
                for (var i = 0; i < data.length; i++) {
                    tranData.push({
                        name: data[i].username,
                        value: data[i].userId
                    })
                }
                result.data = tranData;
                return result;
            },
            error: function (id, url, searchVal, err) {
                febs.alert.error('获取用户列表失败');
            }
        });

        /* 监听提交 */
        form.on('submit(febs-message-send-submit)', function (data) {
            $.post(ctx + 'message/submitMessageSend', $("#sendMessageForm").serialize(), function (r) {
                if (r.code === 200) {
                    $("#alert_success").css('display','block');
                    $("#alert_fail").css('display','none');
                    febs.alert.success('发送成功');
                } else {
                    $("#alert_success").css('display','none');
                    $("#alert_fail").css('display','block');
                    febs.alert.error('发送失败 : '+r.data);
                }
            });
            return false;
        });
    });
</script>