<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neefull.fsp.web.qff.mapper.CommodityMapper">
    <update id="updateConserveStatus" >
        update qff_commodity set status = #{status} where id= #{id}
    </update>


    <select id="getConservePage" resultType="com.neefull.fsp.web.qff.entity.Commodity">
        select * from qff_commodity where stage = #{commodity.stage}
            <if test="commodity.transport!=null and commodity.transport!=''">
                and transport like concat('%',#{commodity.transport},'%')
            </if>
            <if test="commodity.number!=null and commodity.number!=''">
                and number like concat('%',#{commodity.number},'%')
            </if>
            <if test="commodity.plant!=null and commodity.plant!=''">
                and plant like concat('%',#{commodity.plant},'%')
            </if>
            <if test="commodity.kMater!=null and commodity.kMater!=''">
                and k_mater like concat('%',#{commodity.kMater},'%')
            </if>
            <if test="commodity.kBatch!=null and commodity.kBatch!=''">
                and k_batch like concat('%',#{commodity.kBatch},'%')
            </if>
            <if test="commodity.rMater!=null and commodity.rMater!=''">
                and r_mater like concat('%',#{commodity.rMater},'%')
            </if>
            <if test="commodity.isDanger!=null and commodity.isDanger!=''">
                and is_danger like concat('%',#{commodity.isDanger},'%')
            </if>
            <if test="commodity.pMater!=null and commodity.pMater!=''">
                and p_mater like concat('%',#{commodity.pMater},'%')
            </if>
            <if test="commodity.rBatch!=null and commodity.rBatch!=''">
                and r_batch like concat('%',#{commodity.rBatch},'%')
            </if>
            <if test="commodity.manuDate!=null and commodity.manuDate!=''">
                and manu_date like concat('%',#{commodity.manuDate},'%')
            </if>
            <if test="commodity.expiryDate!=null and commodity.expiryDate!=''">
                and expiry_date like concat('%',#{commodity.expiryDate},'%')
            </if>
            <if test="commodity.quarantine!=null and commodity.quarantine!=''">
                and quarantine like concat('%',#{commodity.quarantine},'%')
            </if>
            <if test="commodity.getRemark!=null and commodity.getRemark!=''">
                and get_remark like concat('%',#{commodity.getRemark},'%')
            </if>
            <if test="commodity.initDate!=null and commodity.initDate!=''">
                and init_date like concat('%',#{commodity.initDate},'%')
            </if>
            <if test="commodity.rConf!=null and commodity.rConf!=''">
                and r_conf like concat('%',#{commodity.rConf},'%')
            </if>
            <if test="commodity.repTime!=null and commodity.repTime!=''">
                and rep_time like concat('%',#{commodity.repTime},'%')
            </if>
            <if test="commodity.reason!=null and commodity.reason!=''">
                and reason like concat('%',#{commodity.reason},'%')
            </if>
            <if test="commodity.compNumber!=null and commodity.compNumber!=''">
                and comp_number like concat('%',#{commodity.compNumber},'%')
            </if>
            <if test="commodity.ba!=null and commodity.ba!=''">
                and ba like concat('%',#{commodity.ba},'%')
            </if>
            <if test="commodity.source!=null and commodity.source!=''">
                and source like concat('%',#{commodity.source},'%')
            </if>
            <if test="commodity.register!=null and commodity.register!=''">
                and register like concat('%',#{commodity.register},'%')
            </if>
            <if test="commodity.classify!=null and commodity.classify!=''">
                and classify like concat('%',#{commodity.classify},'%')
            </if>
            <if test="commodity.startTime!=null and commodity.startTime!='' and commodity.endTime!=null and commodity.endTime!=''">
                and create_time between  #{commodity.startTime} and #{commodity.endTime}
            </if>
            <if test="commodity.status!=null and commodity.status!=''">
                and status = #{commodity.status}
            </if>
        order by create_time desc
    </select>
</mapper>