<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neefull.fsp.web.qff.mapper.DateImageMapper">
    <select id="queryImage" resultType="com.neefull.fsp.web.qff.entity.DateImage">
        select * from qff_image where data_id = #{dataId} and relevance = #{relevance} and vest = #{vest}
    </select>
    <select id="findImageByIdAndForm" resultType="com.neefull.fsp.web.qff.entity.DateImage">
        select * from qff_image where data_id = #{dataId} and relevance = #{relevance}
    </select>
</mapper>