<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neefull.fsp.web.qff.mapper.RecentMapper">
    <update id="updateRecentStatus" >
        update qff_recent set status = #{status} where id = #{id}
    </update>


    <select id="getRecentPage" resultType="com.neefull.fsp.web.qff.entity.Recent">
        select * from qff_recent where 1=1
        <if test="recent.kMater!=null and recent.kMater!=''">
            and k_mater like concat('%',#{recent.kMater},'%')
        </if>
        <if test="recent.batch!=null and recent.batch!=''">
            and batch like concat('%',#{recent.batch},'%')
        </if>
        <if test="recent.transport!=null and recent.transport!=''">
            and transport like concat('%',#{recent.transport},'%')
        </if>
        <if test="recent.rMater!=null and recent.rMater!=''">
            and r_mater like concat('%',#{recent.rMater},'%')
        </if>
        <if test="recent.name!=null and recent.name!=''">
            and name like concat('%',#{recent.name},'%')
        </if>
        <if test="recent.useLife!=null and recent.useLife!=''">
            and use_life like concat('%',#{recent.useLife},'%')
        </if>
        <if test="recent.sapBatch!=null and recent.sapBatch!=''">
            and sap_batch like concat('%',#{recent.sapBatch},'%')
        </if>
        <if test="recent.factory!=null and recent.factory!=''">
            and factory like concat('%',#{recent.factory},'%')
        </if>
        <if test="recent.wareHouse!=null and recent.wareHouse!=''">
            and ware_house like concat('%',#{recent.wareHouse},'%')
        </if>
        <if test="recent.number!=null and recent.number!=''">
            and number like concat('%',#{recent.number},'%')
        </if>
        <if test="recent.rConf!=null and recent.rConf!=''">
            and r_conf like concat('%',#{recent.rConf},'%')
        </if>
        <if test="recent.repDate!=null and recent.repDate!=''">
            and repDate like concat('%',#{recent.repDate},'%')
        </if>
        <if test="recent.startTime!=null and recent.startTime!='' and recent.endTime!=null and recent.endTime!=''">
            and create_time between  #{recent.startTime} and #{recent.endTime}
        </if>
        <if test="recent.status!=null and recent.status!=''">
            and status = #{recent.status}
        </if>
        and status != 4 order by create_time desc
    </select>
</mapper>