<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neefull.fsp.web.qff.mapper.RecentExcelImportMapper">
    <select id="getRecentExcelImportPage" resultType="com.neefull.fsp.web.qff.entity.RecentExcelImport">
        select * from qff_recent where status != 4 order by create_time desc
    </select>
</mapper>