<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neefull.fsp.web.qff.mapper.RefundMapper">
    <update id="updateRefundStatus">
        update qff_refund set status = #{status} where id = #{id}
    </update>


    <select id="getRefundPage" resultType="com.neefull.fsp.web.qff.entity.Refund">
        select * from qff_refund where 1=1
            <if test="refund.transport!=null and refund.transport!=''">
                and transport like concat('%',#{refund.transport},'%')
            </if>
            <if test="refund.number!=null and refund.number!=''">
                and number like concat('%',#{refund.number},'%')
            </if>
            <if test="refund.plant!=null and refund.plant!=''">
                and plant like concat('%',#{refund.plant},'%')
            </if>
            <if test="refund.kMater!=null and refund.kMater!=''">
                and k_mater like concat('%',#{refund.kMater},'%')
            </if>
            <if test="refund.kBatch!=null and refund.kBatch!=''">
                and k_batch like concat('%',#{refund.kBatch},'%')
            </if>
            <if test="refund.rMater!=null and refund.rMater!=''">
                and r_mater like concat('%',#{refund.rMater},'%')
            </if>
            <if test="refund.rBatch!=null and refund.rBatch!=''">
                and r_batch like concat('%',#{refund.rBatch},'%')
            </if>
            <if test="refund.manuDate!=null and refund.manuDate!=''">
                and manu_date like concat('%',#{refund.manuDate},'%')
            </if>
            <if test="refund.expiryDate!=null and refund.expiryDate!=''">
                and expiry_date like concat('%',#{refund.expiryDate},'%')
            </if>
            <if test="refund.quarantine!=null and refund.quarantine!=''">
                and quarantine like concat('%',#{refund.quarantine},'%')
            </if>
            <if test="refund.getRemark!=null and refund.getRemark!=''">
                and get_remark like concat('%',#{refund.getRemark},'%')
            </if>
            <if test="refund.initDate!=null and refund.initDate!=''">
                and init_date like concat('%',#{refund.initDate},'%')
            </if>
            <if test="refund.rConf!=null and refund.rConf!=''">
                and r_conf like concat('%',#{refund.rConf},'%')
            </if>
            <if test="refund.repTime!=null and refund.repTime!=''">
                and rep_time like concat('%',#{refund.repTime},'%')
            </if>
            <if test="refund.reason!=null and refund.reason!=''">
                and reason like concat('%',#{refund.reason},'%')
            </if>
            <if test="refund.compNumber!=null and refund.compNumber!=''">
                and comp_number like concat('%',#{refund.compNumber},'%')
            </if>
            <if test="refund.ba!=null and refund.ba!=''">
                and ba like concat('%',#{refund.ba},'%')
            </if>
            <if test="refund.source!=null and refund.source!=''">
                and source like concat('%',#{refund.source},'%')
            </if>
            <if test="refund.register!=null and refund.register!=''">
                and register like concat('%',#{refund.register},'%')
            </if>
            <if test="refund.classify!=null and refund.classify!=''">
                and classify like concat('%',#{refund.classify},'%')
            </if>
            <if test="refund.startTime!=null and refund.startTime!='' and refund.endTime!=null and refund.endTime!=''">
                and create_time between  #{refund.startTime} and #{refund.endTime}
            </if>
            <if test="refund.status!=null and refund.status!=''">
                and status = #{refund.status}
            </if>
        and status != 4 order by create_time desc
    </select>
</mapper>