<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.neefull.fsp.web.qff.mapper.RefundMapper">
    <update id="updateRefundStatus">
        update qff_refund set status = #{status} where id = #{id}
    </update>


    <select id="getRefundPage" resultType="com.neefull.fsp.web.qff.entity.Refund">
        select * from qff_refund where 1=1
        <if test="query.mater!=null and query.mater!=''">
            and r_mater like concat('%',#{query.mater},'%')
        </if>
        <if test="query.batch!=null and query.batch!=''">
            and r_batch like concat('%',#{query.batch},'%')
        </if>
        <if test="query.startTime!=null and query.startTime!='' and query.endTime!=null and query.endTime!=''">
            and create_time between  #{query.startTime} and #{query.endTime}
        </if>
        <if test="query.status!=null and query.status!=''">
            and status = #{query.status}
        </if>
        order by create_time desc
    </select>
</mapper>